.default {
    padding: 100px 0;
}

.inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.default .title {
    max-width: 1200px;
    margin: 0 auto 40px auto;

    text-align: center;
}

.default .title h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 8px 0;
}

.default .title strong {}