/* * {
    outline: 1px solid tomato;
} */

.header {
    line-height: 80px;
    background: #fff;
}

.header .header_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #1d1d1d;
}

.header .header_wrap h1 {
    width: 44px;
    height: 44px;
}

.header .header_wrap .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    white-space: nowrap;
}

.header .header_wrap .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .header_wrap .gnb ul li {
    font-weight: 600;
}

.header .header_wrap .util ul {
    display: flex;
    gap: 20px;
}

.header .header_wrap .util ul li a i {
    font-size: 20px;
}

.mopen {
    display: none;
}

@media (max-width:768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 999;
        height: 80px;

    }

    .header .header_wrap {

        position: relative;
        justify-content: space-between;
        color: #1d1d1d;
    }

    .header .header_wrap h1 {
        width: 44px;
        height: 44px;
    }

    .header .header_wrap .gnb {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 998;
        width: 100%;
        height: 0;
        background: #fff;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
        border-bottom: 1px solid #ddd;
    }

    .header .header_wrap .gnb.on {
        height: 406px;
        border-bottom: 1px solid #ddd;
    }

    .header .header_wrap .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    /* .header .header_wrap .gnb ul li {
        font-weight: 600;
    } */

    .header .header_wrap .gnb>ul>li {
        border-top: 1px solid #ddd;
    }

    .header .header_wrap .util {
        display: none;
    }

    .mopen {
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        line-height: 1;
    }

    .mopen .hamburger {
        padding: 0 0;
    }

    .mopen .hamburger .hamburger-inner {}
}



.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 700px);
    border-radius: 10px;

}

.main_visual .main_visual_slide .itm .txt strong {
    opacity: 0;
    transform: translate(0, 100px);
}

.main_visual .main_visual_slide .itm.on .txt strong {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s;
}

.main_visual .main_visual_slide .itm .txt p {
    display: block;
    opacity: 0;
    transform: translate(0, 100px);
}

.main_visual .main_visual_slide .itm.on .txt p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual.png) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual01.png) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual02.png) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm .txt {

    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.main_visual .main_visual_slide .itm .txt strong {
    display: block;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    margin: 0 0 12px 0;
}

.main_visual .main_visual_slide .itm .txt p {
    font-size: 12px;
}



.main_visual .main_visual_slide .slick-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .main_visual_slide .slick-dots>* {
    display: inline-block;
    margin: 0 4px 0 0;
}

.main_visual .main_visual_slide .slick-dots>li button {
    width: 12px;
    height: 12px;
    background: #f2f2f2;
    font-size: 0;
    border: none;
    border-radius: 50%;
}

.main_visual .main_visual_slide .slick-dots>li.slick-active button {
    background: #f26821;
}

@media (max-width:768px) {
    .main_visual {}

    .main_visual .main_visual_slide .itm {
        position: relative;
        border-radius: 10px;

    }



    .main_visual .main_visual_slide .itm .txt strong {
        display: block;
        font-weight: 600;
        font-size: 4vw;
        color: #fff;
        margin: 0 0 12px 0;
        white-space: nowrap;
        word-break: keep-all;
    }

    .main_visual .main_visual_slide .itm .txt p {
        font-size: 2vw;
        white-space: nowrap;
        word-break: keep-all;
    }
}

.main_artical {
    padding: 80px 0 0 0;
}

.main_artical .inner {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main_artical .inner .img_box {
    text-align: center;
    white-space: nowrap;
}

.main_artical .inner .img_box span {
    font-weight: 600;
}

.main_artical .inner figure {
    overflow: hidden;
    width: 50%;
    margin: 0 auto 16px auto;
    border-radius: 10px;
    object-fit: cover;

}


@media (max-width:768px) {

    .main_artical .inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 75px));
        gap: 20px;
    }

    .main_artical .inner figure {
        overflow: hidden;
        width: 100%;
        margin: 0 auto 16px auto;
        border-radius: 10px;
        object-fit: cover;

    }
}


.main_tema .title strong {
    font-size: 20px;
}

.main_tema .inner .tema_box .tab_content figure {
    padding: 0 0 0 24px;
}

.main_tema .tab_menu {}

.main_tema .tab_content li {
    visibility: hidden;
    height: 0;
}

.main_tema .tab_content li.on {
    visibility: visible;
    height: auto;
}

.main_tema .tema_box {
    display: flex;
}

.main_tema .tema_box>* {
    flex: 1;
    overflow: hidden;
}

.main_tema .tema_box .tab_menu {}

.main_tema .tema_box .tab_menu li {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 24px 0;
    word-spacing: normal;
}

.main_tema .tema_box .tab_menu li:hover {
    color: #f26821;
}

.main_tema .tema_box .tab_menu li a {}

.main_tema .tema_box .tab_content {
    margin: 0 0 0 -800px;

}

.main_tema .tema_box .tab_content .tab_slide figure img {
    border-radius: 10px;
}

.main_tema .btn a {
    padding: 8px 32px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-weight: 500;
}

@media(max-width:768px) {
    .main_tema .title h2 {
        font-size: 4vw;
        margin: 0 0 20px 0;
    }

    .main_tema .title strong {
        font-size: 3vw;
    }

    .main_tema .inner .tema_box .tab_content figure {
        padding: 0;
    }


    .main_tema .tab_content li {
        visibility: hidden;
        height: 0;
    }

    .main_tema .tab_content li.on {
        visibility: visible;
        height: auto;
    }

    .main_tema .tema_box {
        display: flex;
        flex-direction: column;
        margin: 0 0 48px 0;
    }

    .main_tema .tema_box>* {
        flex: 1;
        overflow: hidden;
    }

    .main_tema .tema_box .tab_menu {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    .main_tema .tema_box .tab_menu li {
        font-size: 2.3vw;
        font-weight: 500;
        margin: 0 0 24px 0;
        word-spacing: normal;
    }

    .main_tema .tema_box .tab_menu li:hover {
        color: #f26821;
    }

    .main_tema .tema_box .tab_menu li a {}

    .main_tema .tema_box .tab_content {
        margin: 0;
    }

    .main_tema .tema_box .tab_content .tab_slide figure img {
        border-radius: 10px;
    }

    .main_tema .btn {
        text-align: center;
        font-size: 2vw;
    }

    .main_tema .btn a {
        padding: 8px 32px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-weight: 500;
    }

}


.main_area {
    background: #f8f8f8;
}



.main_area .inner {
    display: flex;
    gap: 20px;
}



.main_area .inner>* {
    flex: 1;
    background: #fff;
}

.main_area .inner .img_box {
    position: relative;
}

.main_area .inner .img_box>a {
    padding: 48px;
    display: block;
}

.main_area .inner .img_box01 {
    border-radius: 10px;
    border: 1px solid #6E8CF8;
    background: #6E8CF8;
}

.main_area .inner .img_box02 {
    border-radius: 10px;
    border: 1px solid #37BBAB;
    background: #37BBAB;
}

.main_area .inner .img_box03 {
    border-radius: 10px;
    border: 1px solid #A993F8;
    background: #A993F8;
}

.main_area .inner .img_box04 {
    border-radius: 10px;
    border: 1px solid #6E8CF8;
    background: #6E8CF8;
}



.main_area strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 12px 0;
    color: #fff;
    word-break: keep-all;
}

.main_area p {
    line-height: 20px;
    font-weight: 300;
    margin: 0 0 40px 0;
    color: #fff;
    word-break: keep-all;
}

.main_area img {
    position: absolute;
    display: block;
    top: 80%;
    left: 85%;

    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
}

@media (max-width:768px) {

    .main_area .title h2 {
        font-size: 4vw;
    }

    .main_area .inner {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


.main_content .content_tab {
    margin: 0 0 60px 0;
}

.main_content img {
    border-radius: 10px;
}

.main_content .content_tab .tab_menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 0 36px 0;
}

.main_content .content_tab .tab_menu>li {
    font-weight: 600;
}

.main_content .content_tab .tab_menu>li>a.on {
    background: #333333;
    color: #fff;
}

.main_content .content_tab .tab_menu>li>a {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: block;
    padding: 12px 32px;
}


.main_content .tab_content li {

    visibility: hidden;
    height: 0;
}

.main_content .tab_content li.on {
    visibility: visible;
    height: auto;
    width: auto;
}

.main_content .tab_content li a {
    padding: 0 24px 0 0;

}

.main_content .content_btn {
    text-align: center;
}

.main_content .content_btn a {
    padding: 16px 44px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-weight: 600;
}

@media (max-width:768px) {

    .main_content .title h2 {
        font-size: 4vw;
    }

    .main_content .content_tab {
        margin: 0 0 60px 0;
    }

    .main_content img {
        border-radius: 10px;
    }

    .main_content .content_tab .tab_menu {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .main_content .content_tab .tab_menu>li {
        font-size: 2.2vw;
        font-weight: 600;
    }

    .main_content .content_tab .tab_menu>li>a.on {
        background: #333333;
        color: #fff;
    }

    .main_content .content_tab .tab_menu>li>a {
        border: 1px solid #ddd;
        border-radius: 10px;
        display: block;
        padding: 12px 32px;
    }


    .main_content .tab_content li {

        visibility: hidden;
        height: 0;

    }

    .main_content .tab_content li.on {
        visibility: visible;
        height: auto;
        width: auto;
    }

    .main_content .tab_content li a {
        padding: 0 0 0 0;

    }

    .main_content .content_btn {
        text-align: center;
        font-size: 2vw;
    }

    .main_content .content_btn a {
        padding: 16px 44px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-weight: 600;
    }
}



.footer {
    border-top: 1px #dddddd;
    padding: 48px 0 64px 0;
    background: #f9f9f9;
}

.footer .inner {
    justify-content: space-between;
}

.footer .lnk {
    display: flex;
    gap: 30px;
    margin: 0 0 24px 0;
}

.footer .lnk li {
    position: relative;
}

.footer .lnk li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 8px;
    background: #666;
}

.footer .company {
    margin: 0 0 24px 0;
}

.footer .company li {
    display: inline-block;
    margin: 0 18px 8px 0;
    font-size: 14px;

}

.import {
    font-weight: 700;
}

.footer .inner .footer_content {
    font-size: 12px;
}

@media (max-width:768px) {
    .footer .inner .lnk {
        gap: 20px;
        font-size: 2vw;
    }

    .footer .inner .company {
        line-height: 28px;

    }

    .footer .inner .company li {
        font-size: 2vw;
    }

    .footer .inner .footer_content {
        word-break: keep-all;
    }

    .footer .lnk li~li::before {
        display: none;
    }

    .footer .inner .footer_content {
        line-height: 20px;
        font-size: 2vw;
    }
}